	<div class='handlebarfooter'>
		<div class='handlebarfooter-innerdiv'>
			<div class='handlebarfooter-leftpart'>
				<p class='handlebarfooter-leftpart-headingtext'> Address</p>
				<p class='handlebarfooter-leftpart-ptext'> Store no 11. street pump, ON</p>
			</div>
			<div class='handlebarfooter-rightpart'>
				<p class='handlebarfooter-leftpart-headingtext'> Social Links</p>
				<a href='' class='handlebarfooter-rightpart-linktxt'> <img src='images/facebook.png' class='handlebarfooter-rightpart-link'> </a>
				<a href='' class='handlebarfooter-rightpart-linktxt'> <img src='images/Google.png' class='handlebarfooter-rightpart-link'> </a>
				<a href='' class='handlebarfooter-rightpart-linktxt'> <img src='images/twiter.png' class='handlebarfooter-rightpart-link'> </a>
			</div>
		</div>
	</div>