<div class='handlebarheader'>
		<div class='handlebarheader-innerdiv'>
			<div class='handlebarheader-logodiv'>
				<img src='images/logo.png' class='handlebarheader-logo'>
			</div>
			<a href='/' class='handlebarheader-links'> Home </a>
			<a href='/about' class='handlebarheader-links'> About </a>
			<a href='/myproject' class='handlebarheader-links'> Projects Page </a>
			<a href='/contactme' class='handlebarheader-links'> Contact Me </a>
		</div>
	</div>