
<div class='handlebarsmaindiv'>
	
	{{> header }}
	<div class='handlebarcontent'>
		<div class='handlebarcontent-innerdiv'>
			<div class='handlebarcontent-bannerdiv'>
				<img src='images/796847.jpg' class='handlebarcontent-bannerimg'>
			</div>
			<div class='handlebarcontentdetail-headingdiv'>
				<p class='handlebarcontentdetail-headintext'> About Me</p>
			</div>
			<p class="handlebarcontentdetail-detailtext">
				<br> I am Front End and back End Developer. I have Good Skill and i am worked and participated on many prject some is live or some ofline. 
				I am very passionate in coding. with friend and my senior i learned many things for example PHP, HTML, java Script and now i want to add Python in my skills. My luck i always got best teacher in world which help me all the time when i need.
				<br>
				<b>Current Location -: </b> ON, Canada
				
			</p>
			<div class='margindiv'>
			</div>
		</div>
	</div>
	
	{{> footer }}
	
</div>