
<div class='handlebarsmaindiv'>

	{{> header }}
	
	<div class='handlebarcontent'>
		<div class='handlebarcontent-innerdiv'>
			<div class='handlebarcontentdetail-headingdiv'>
				<p class='handlebarcontentdetail-headintext2'> Conact Me</p>
			</div>
			
			<div class='handlebarcontact-detaildiv'>
				<div class='handlebarcontact-innerdiv'>
				
					<div class='handlebarcontact-inputdiv'>
						<input type='text' class='handlebarcontact-input' placeholder='Enter Name' id='name'>
					</div>
					<div class='handlebarcontact-inputdiv'>
						<input type='text' class='handlebarcontact-input' placeholder='Enter Email id' id='emailid'>
					</div>
					<div class='handlebarcontact-inputdiv'>
						<textarea class='handlebarcontact-inputtextarea' placeholder='Message' id='message'></textarea>
					</div>
					<div class='handlebarcontact-inputdiv'>
						<button class='handlebarcontact-sendmessage' onclick='checkvalidation()'> Send</button>
					</div>
					
					
				</div>
			</div>
			
			
			<div class='margindiv'>
			</div>
		</div>
	</div>
	
	{{> footer }}

</div>