<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/stylecss.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/js/mainjs.js"></script>
</html>
