
<div class='handlebarsmaindiv'>
	
	{{> header }}
	
	<div class='handlebarcontent'>
		<div class='handlebarcontent-innerdiv'>
			<div class='handlebarcontentdetail-headingdiv'>
				<p class='handlebarcontentdetail-headintext'> Project Page</p>
			</div>
			
			<div class='handlebarproject-detaildiv'>
				<div class='handlebarproject-detailinnerdiv'>
					<div class='handlebarproject-detailpicdiv'>
						<img src='images/game.jpg' class='handlebarproject-detailpic'>
					</div>
					<div class='handlebarproject-detailtextdiv'>
						<h3 class='handlebarproject-detailheadertext'> Game </h3>
						<p class='handlebarproject-detailsubtext'> <b> Detail: </b> I make a web based Game. its made with only JavaScript means all load on client side </p>
					</div>
				</div>
			</div>
			<div class='handlebarproject-detaildiv'>
				<div class='handlebarproject-detailinnerdiv'>
					<div class='handlebarproject-detailpicdiv'>
						<img src='images/calculator-1470.jpg' class='handlebarproject-detailpic'>
					</div>
					<div class='handlebarproject-detailtextdiv'>
						<h3 class='handlebarproject-detailheadertext'> Calculater </h3>
						<p class='handlebarproject-detailsubtext'> <b> Detail: </b> I make a Calculater fully functional and doing all oprations. You can use it as scientific calculator. </p>
					</div>
				</div>
			</div>
			
			
			<div class='margindiv'>
			</div>
		</div>
	</div>
	
	{{> footer }}
	
</div>